[2021-03-12 21:09] mxinden opened #9 "src/registry: Consider using Into for metric when registering"
With the diff below, one would not need to `Box` a metric before registering it with a `Registry<Box<M>>`. The downside is, that it makes it harder for Rust to infer `M`.

[code]

[2021-04-07 08:35] mxinden opened #11 "src/metrics: Support custom ad-hoc metrics"
Some metrics need to be created ad-hoc on scrape, e.g. a counter retrieved from another system.

[2021-04-25 12:00] mxinden opened #13 "src/metrics: Support sub-registry by label"
Today, one can create a sub-registry with a metric name prefix:

https://github.com/mxinden/rust-open-metrics-client/blob/245cd2f74492e99840119fb11c2b4b82ba95f2d9/src/registry.rs#L158-L189

We should support creating sub-registries either by metric name or constant label(s).

[2021-05-16 14:41] mxinden opened #15 "derive-text-encode: Support New Type Idiom"
Support deriving `Encode` for [New Type Idiom](https://doc.rust-lang.org/rust-by-example/generics/new_types.html).

[code]

[2021-07-31 19:32] mxinden commented on #11
Already doable today by implementing [`EncodeMetric`](https://docs.rs/open-metrics-client/0.11.2/open_metrics_client/encoding/text/trait.EncodeMetric.html). The provided [`Encoder`](https://docs.rs/open-metrics-client/0.11.2/open_metrics_client/encoding/text/struct.Encoder.html) guides users in a type safe way.

[2021-10-29 12:39] divagant-martian opened #22 "How to feed to prometheus?"
Looking for some advice on feeding the metrics stored in a `Registry` to a prometheus instance, using https://crates.io/crates/prometheus. I could add an example to the repo after I get it working.

Thanks!

[2021-11-03 11:34] mxinden commented on #22
There is no way to convert a `open-metrics-client` `Registry` to a `prometheus` `Registry`. Neither of them were designed to be converted to the other.

I am guessing that you are using both and now want to expose their metrics on the same http endpoint, correct? I would suggest simply concatenating their text output and returning the sum to each Prometheus server scrape request. Does that work fo

[2021-11-03 16:26] #22 closed

[2021-11-12 14:09] thedodd opened #25 "Global registry pattern"
For systems where there are many components which need to register their own metrics, shared mutable access to the registry is required in order to keep things nice and simple (for the user). Providing a built-in solution for this pattern in the crate would lower the barrier of adoption, and could also help folks not to mess up their own implementation of the pattern where they might code the mute

[2021-11-13 21:31] mxinden commented on #25
I am undecided on the topic of global registries. Not offering it within `open-metrics-client` thus far has been by design.

On the one hand I do understand that offering a global metrics registry within `open-metrics-client` directly simplifies instrumentation across ones application.

On the other hand:

- I consider global variables in general and a global metric registry in specific error pron

[2021-12-05 22:21] hdost commented on #13
Looks like this was completed in #20

[2021-12-06 15:19] mxinden commented on #13
Indeed. Thanks @hdost!

[2021-12-06 15:19] #13 closed

[2021-12-14 13:59] gagbo opened #29 "Implementing a process collector"
Hello,

I recently stumbled upon https://github.com/tikv/rust-prometheus/issues/392 and now I'm preparing a migration from `rust-prometheus`. I'm wondering how it would be possible to add a collector for process metrics just like what `rust-prometheus` does currently. I'm really inexperienced in those packages, and I don't really see how the `ProcessCollector` thing would translate here, to add so

[2021-12-15 16:00] mxinden commented on #29
Hi Gerry,

As you noted above `open-metrics-client` does not itself support exposition of process metrics today.

That sounds good. I am open to whether that crate would live in this repository or not. The former would likely make development easier as one can make atomic changes across both crates at once (with one pull request).

Off the top of my head the interface of such crate could look like

[2021-12-15 21:35] gagbo commented on #29
If I can find some time it’d be nice yeah, hopefully I’ll be able to find time to dig into this.

I think I’d like a way to specify running the `encode` function in a separate thread (which would require the registry to be Sync ?), so that all the metrics related calls can be handled by a different core if need be ?

[2021-12-19 12:17] mxinden commented on #29
Great. Let me know in case you need any help!

Can you expand on what you want to optimize?  All metric implementations are synchronized (e.g. `Counter` is just an atomic integer), thus allowing metric recording and metric collection to happen in different threads.

I am guessing that you are referring to interior mutability and not the `Sync` marker trait? I don't see why one would need interior

[2022-01-19 01:32] 56quarters opened #34 "Hidden imports in lib.rs example code"
Hello folks,

Looking at the example code in [lib.rs](https://github.com/prometheus/client_rust/blob/master/src/lib.rs) (when rendered on docs.rs), it was a little confusing to figure out what was going on due to many functions and types from the client_rust library being imported but the imports themselves being hidden.

What do you think about un-hiding the library imports so that it's more clea

[2022-01-19 19:43] mxinden commented on #34
Ah you mean e.g. doing the following?

[code]

Sounds reasonable to me. Do you want to provide a patch @56quarters?

[2022-01-19 19:46] 56quarters commented on #34
Exactly! I'll submit a PR

[2022-01-19 20:13] #34 closed

[2022-01-20 10:57] phyber opened #36 "Const Metrics"
Hi,

Thanks for creating an official Rust crate for Prometheus. :)

I'm wondering how we should handle [Const Metrics](https://pkg.go.dev/github.com/prometheus/client_golang/prometheus?utm_source=godoc#NewConstMetric) with this crate. Are these supported at the moment? If they are, it's a little non-obvious.

My use case is for exporting counters from the operating system. The OS itself guarantees

[2022-01-20 12:17] mxinden commented on #36
Happy that it is of some use :heart:

In this particular use-case, would a metric type called _constant_ not be misleading? In other words, the use-case here produces a non-constant metric, thus one would not expect to be using a metric type with _const_ in its name, no?

The crate allows you to access the inner (atomic) type of a `Counter` via [`Counter::inner`](https://docs.rs/prometheus-client/

[2022-01-20 13:52] phyber commented on #36
I agree, but that's the terminology in the official Go Prometheus client, see for example the [mysql_exporter](https://github.com/prometheus/mysqld_exporter/blob/main/collector/info_schema_tablestats.go#L101-L124) where it used for exporting counters from the database itself, or [node_exporter](https://github.com/prometheus/node_exporter/blob/master/collector/cpu_linux.go#L291-L307) where it's use

[2022-01-20 14:51] phyber commented on #36
Looking at the `EncodeMetric` stuff, an example in this area would be appreciated. I was trying to write one myself to contribute, but I'm bumping into issues while looking at how other types get encoded as they're able to use private methods from certain structs/traits.

For example, when looking at how existing `Counter`s [are encoded](https://docs.rs/prometheus-client/latest/src/prometheus_clie

[2022-01-24 10:52] folex opened #40 "Implement Summary metric"
Hi! Thank your for the project :)

I found myself missing an implementation of the Summary metric, so decided to file an issue in case anyone (maybe myself) decides to contribute an implementation.

----

Open Metrics spec defines a metric type that computes quantiles locally on the client: [Summary](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#summary).

[2022-01-24 17:08] mxinden commented on #36
Oh my bad. Thanks @phyber for raising this.

Would you mind giving https://github.com/prometheus/client_rust/pull/41 a review? It exposes the methods and adds an example on how to implement a custom metric type.

[2022-01-24 20:06] mxinden commented on #40
Glad that it is useful. :heart:

Would be good to support the `Summary` metric type. Contributions are most certainly welcome!

Whoever is picking this up, let me know if you need any help.

[2022-01-30 11:48] gagbo commented on #29
Hello,

Sorry for the late answer, I've been struggling to find time these days :(

For the time being I don't see myself working too much on this as our monitoring coverage is decent now and we have other priorities but I'll keep this in mind when it becomes an important subject again!

I thought that all `encode` calls had to be executed in the same thread as the one recording the events, but as

[2022-02-02 20:52] mxinden commented on #36
With #41 merged, can this crate support your use-case now @phyber?

[2022-02-03 00:22] phyber commented on #36
Possibly. I'm going to have to take a while and try to adapt it to something much closer to what I'm actually doing at the moment. My actual code that's going to use this is at [jail_exporter/exporter.rs](https://github.com/phyber/jail_exporter/blob/master/src/exporter.rs). This is an exporter for FreeBSD jails, it currently uses the [tikv/prometheus](https://github.com/tikv/rust-prometheus) crate

[2022-02-03 17:15] mxinden commented on #36
Feel free to tag me on any pull request for a review in case I can be of some help.

Correct. That is not supported today, though is easy to add as one only has to expose [`HashMap::remove`](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.remove) on `Family::metrics`:

https://github.com/prometheus/client_rust/blob/16aa166225a54759db96431b73f9b6b5045e75bb/src/metrics/family.rs

[2022-02-04 15:58] rajaSahil opened #45 "How can we create Prometheus Descriptors?"
All the fields present in the Prometheus Descriptor are private which doesn't allow to initialise a new desc for custom metric. Should there be a default or parametrized constructor?

Let's say, I want to create a collector which contains different metrics and those metrics should have a new desc. How can I create one? Is the Descriptor concept fully implemented in this crate?

Similar to this pie

[2022-02-06 08:34] rajaSahil commented on #45
@mxinden Any pointer on this?

[2022-02-08 01:21] ackintosh opened #46 "Custom encoder?"
I would like to send (partial) metrics stored the `Registry` in original JSON format differ from OpenMetrics, into an endpoint different from Prometheus server.

Here is a pseudo code, shows what I want to do:

[code]

I think I need to implement custom encoder, translate metrics to JSON format.

Please let me know if there is any good way. 🙏

[2022-02-09 14:29] mxinden commented on #46
:wave: Hi @ackintosh,

Yes, you would need to implement something along the lines of https://github.com/prometheus/client_rust/blob/master/src/encoding/text.rs.

Though lots of the internals you would need are not exposed to the outside. Is this a well known format you are referring to? Would it make sense to contribute it to the library? Or would it maybe make sense to add the OpenMetrics protobu

[2022-02-15 07:08] ackintosh commented on #46
Hi @mxinden !

As a background of I've file this issue, I'm working on [this issue](https://github.com/sigp/lighthouse/issues/2956).

The metrics I would like to send to somewhere in JSON is defined as [Ethereum consensus client metrics](https://github.com/gobitfly/eth2-client-metrics) and [Beacon chain metrics](https://github.com/ethereum/beacon-metrics/blob/master/metrics.md).

I think the latte

[2022-02-17 02:20] peterbourgon commented on #46
This is out of scope for this crate.

[2022-02-19 06:59] ackintosh commented on #46
I believe too that it make sense to add the OpenMetrics protobuf format to `prometheus-client`. ✨

Thank you for the pointer! That helped a lot.

And I have noticed that prometheus-client doesn't support the OpenMetrics protobuf format due to [the issue](https://github.com/OpenObservability/OpenMetrics/issues/183). 👀

https://github.com/prometheus/client_rust#specification-compliance

[2022-02-19 13:26] mxinden commented on #46
That was the thing that stopped me from working on Protobuf support in `prometheus-client` back then. With the latest comments on the issue in mind, I am not sure this is still a blocker. Would you mind giving it a try, i.e. add support for Protobuf to `prometheus-client`?

[2022-02-21 04:52] ackintosh commented on #46
Yes, I will try to add support for Protobuf. Will file a PR later. 🚀

[2022-02-21 16:55] rajaSahil commented on #45
I have been using Prometheus go-client recently and we have a concept of collectors, gatherers and descriptors. Are those concepts changed over here or is it not yet implemented?

Also can you please provide an example to use Family::metrics?

[2022-02-21 21:57] mxinden commented on #45
They are not present here.

You can find various examples on how to use `Family` in the documentation e.g. here https://docs.rs/prometheus-client/0.15.1/prometheus_client/metrics/family/struct.Family.html

[2022-02-23 12:07] rajaSahil commented on #45
Thanks @mxinden . Closing this issue.

[2022-02-23 12:07] #45 closed

[2022-02-28 21:03] sd2k opened #49 "Custom collector for multiple metrics"
Hi! I've been looking at implementing a Prometheus collector for the recently announced [tokio-metrics](https://docs.rs/tokio-metrics/latest/tokio_metrics/index.html) crate. Every scrape, I'd like to gather runtime metrics for the currently Tokio runtime. The problem is that doing so requires a non-trivial amount of up-front work to aggregate all of the stats across the N workers in the runtime, w

[2022-03-01 13:54] mxinden commented on #49
As you stated above, a clean solution is not possible today, i.e. would require some changes within `prometheus-client`. I am not opposed to supporting this use-case, though I need to put more thoughts into the design of a clean abstraction. Design suggestions are most welcome.

In the meantime would sharing some state between the custom metrics be an option? That shared state would be updated wit

[2022-03-01 16:27] sd2k commented on #49
Thanks for the reply! Yep, I thought as much, no worries - I'll have a think about potential APIs.

Yeah, I've got a solution where each custom metric shares a reference to some shared state, but there's a few things about it that are suboptimal:

1. for the metrics to be `'static` they can't hold references, so I'm having to use an `Rc<RefCell<State>>` instead (this isn't too bad though)
2. the o

[2022-03-02 10:33] mxinden commented on #49
We could give each Prometheus scrape an ID and then make that ID available through the `Encoder` passed in `EncodeMetric::encode`. Not yet sure how much I would consider that to be a hack.

[2022-03-08 20:59] adamchalmers commented on #25
Hi! I think making an example of global registries would be a great solution. I'd love to switch over to this library but I'm a bit reluctant to sit down and do the work of figuring out a global registry myself. Has anyone done this yet? I'd happily contribute examples or even an explainer post on my Rust programming blog. I just haven't sat down yet to figure out how to implement a global registr

[2022-03-09 22:43] 08d2 opened #51 "Text encoding has inconsistent metric names"

[2022-03-09 22:49] 08d2 commented on #51
It is somewhat surprising that the metric name provided to counter constructors will have `_total` appended to it automatically. It would be cool if that were better documented, and ideally only happened if the provided metric name didn't already end in `_total`.

[2022-03-11 11:10] mxinden opened #52 "Expensive metric validation in debug mode"
When run in debug mode, I think it is worth exploring running different validations on the registered metrics.

As an example we could make sure a counter name does not end in `_total` as that is added [automatically](https://github.com/prometheus/client_rust/blob/5d6ed2c104d47aed45fd65f4a41fff37177f60e0/src/encoding/text.rs#L465) already.

As another example, `Registry::register` could ensure tha

[2022-03-11 11:11] mxinden commented on #51
Not according to the OpenMetrics specification:

https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#counter-1

Good idea. For the former, would you mind extending the documentation @08d2? For the latter, let's move the discussion to https://github.com/prometheus/client_rust/issues/52.

[2022-03-18 15:14] oriontvv opened #53 "Add example for actix-web framework"
Hi guys, thanks for your contribution!

There is an issue with using the client with actix-web framework.
Because `Registry` doesn't implement `Copy` - the only working solution I've found is to wrap it with `Mutex`. But it requires locking at least on each collecting of metrics which isn't good for performance. Are there any other suggestions?

[2022-03-18 21:33] 08d2 commented on #51
I don't know anything about OpenMetrics, really, and I don't consider it any kind of authority. I can observe that the "_created" thing described in your link is not valid for Prometheus, though.

[2022-03-21 09:58] mxinden commented on #53
I think you are confusing `Copy` and `Clone`.

[code]

https://doc.rust-lang.org/std/clone/trait.Clone.html

I think a good rule of thumb whether a type should implement `Clone` is whether it fits into a single CPU cache line. This is not the case for `Registry`, i.e. `Registry` even spills to the heap.

First I would like to question "isn't good for performance". In case this is happening mostly

[2022-03-25 02:59] 08d2 opened #56 "Registry::register should not automatically append a period to the help text"
Help strings should end with a period, per Prometheus guidance. But if a user does that themselves, the help string will be incorrect, as "[a full stop punctuation mark (.) is automatically added to the passed help text](https://docs.rs/prometheus-client/latest/prometheus_client/registry/struct.Registry.html#method.register)" given to Registry::register.

Probably the best solution here is to appe

[2022-03-25 04:23] 08d2 commented on #49
Can you say more about this? What work is involved?

[2022-03-25 12:36] mxinden commented on #56
Added to https://github.com/prometheus/client_rust/issues/52. Thanks @08d2. Let me know in case you want to tackle any of these.

[2022-03-25 12:36] #56 closed

[2022-03-25 18:32] sd2k opened #57 "Sharing dynamically dispatched registry in web framework state"
I may be missing something but it seems like it's not possible to use the `Registry` with the default `M = SendEncodeMetric` type as shared state in web frameworks (e.g. `tide::with_state`), because those require that the state is all `Sync` but `SendEncodeMetric` is not `Sync`. If I [update the `tide` example to use a dynamically dispatched `Registry`](https://github.com/sd2k/client_rust/commit/8

[2022-03-25 19:33] sd2k commented on #49
I've now changed the implementation so that comment isn't _quite_ correct, although my current implementation still feels a bit suboptimal.

Previously I'd thrown together a `cumulative` method for [RuntimeMonitor](https://docs.rs/tokio-metrics/latest/tokio_metrics/struct.RuntimeMonitor.html), which basically iterated over the workers in the pool and calculated each of the metrics on [RuntimeMetri

[2022-03-26 18:58] 08d2 commented on #49
I'm going to describe some fundamental assumptions of Prometheus, because it's not totally clear to me if these crates abide those requirements. But I'm no expert and it's entirely possible that the issues you're talking about have nothing to do with this stuff. If that's true, or if I'm telling you stuff you already know, my apologies!

Prometheus operates in a "pull" model whereby Prometheus ser

[2022-03-26 19:34] 08d2 commented on #49
A scrape will indeed invoke encode on a set of metrics, but encode shouldn't know anything about scrapes. Rather, encode should operate on an immutable snapshot, i.e. a copy, of a metric value, which scrapes should capture.

[2022-03-26 19:58] oriontvv commented on #53
@mxinden Hi, thanks for the feedback and sorry for late reply.
Yes, you are absolutely write - `Registry` doesn't implement `Clone`, my mistake, thanks.

About the question - I thought that it's possible to avoid blocking like an example for tide do(I don't see any blocking for `State`)
But `Arc` can't be used with actix-web(or I do something wrong) - compiler says that:

[code]

[2022-03-26 20:01] sd2k commented on #49
Indeed, we're in agreement on most things here I think! In my specific case I'm trying to instrument an external crate so I don't have the ability to increment counters or anything when it's actually happening. Instead, the [tokio_metrics::RuntimeMonitor::intervals](https://docs.rs/tokio-metrics/latest/tokio_metrics/struct.RuntimeMonitor.html#method.intervals) method is the only way to get hold of

[2022-03-26 20:06] sd2k commented on #49
The [Collectors example](https://pkg.go.dev/github.com/prometheus/client_golang/prometheus#example-Collector) in the Golang client docs explains this in better detail than I possibly could, too.

[2022-03-26 20:32] 08d2 commented on #56
It should not be an error if a help string ends in a period.

[2022-03-26 20:47] 08d2 commented on #49
Check.

Ah! So this shouldn't be EncodeMetrics, but rather CollectMetrics. I think the disconnect here may be that client_rust doesn't currently provide a well-defined abstraction layer between collection and encoding. A registry is something that holds long-lived mutable metric values which can be mutated and collected; a collector is typically a trait implemented by a registry which yields a "sn

[2022-03-26 20:51] sd2k commented on #49
Yep, I think that's accurate! (I did find it strange that I was implementing something called `encode` - there's nothing encoding specific about what I'm doing.)

[2022-03-27 15:42] mxinden commented on #57
Good catch. Thanks @sd2k. This is related to https://github.com/prometheus/client_rust/pull/55. E.g. when you wrap the `Registry` in both an `Arc` and a `Mutex`, it would compile.

I would be OK, extending the super trait `SendEncodeMetric` to `SendSyncEncodeMetric`. I expect most folks would run `prometheus-client` in a multi-threded environment with synchronization on each metric anyways. I stil

[2022-03-27 19:53] mxinden commented on #53
On vacation right now, though https://github.com/prometheus/client_rust/issues/57#issuecomment-1079957024 might help in the meantime.

[2022-03-29 20:55] sd2k commented on #57
Sure @mxinden, sounds good to me. I've created #58 which should hopefully do the trick.

[2022-04-06 15:51] #57 closed

[2022-05-03 12:14] Jc2k commented on #57
Any chance of getting a release with this fix in? It's also biting me on a Rocket project.

[2022-05-03 19:56] mxinden commented on #57
@Jc2k see https://github.com/prometheus/client_rust/pull/59

[2022-05-03 19:57] Jc2k commented on #57
TYVM!

[2022-05-11 02:41] luoxiaoyun-hw opened #61 "Add default buckets for Histogram metric"
Histogram metric missed default implementation，wo can add default buckets.

[2022-05-11 23:49] doehyunbaek commented on #61
Maybe add default as in client_golang as it is the most popular client implementation?

https://github.com/prometheus/client_golang/blob/66837e3298bdc57a828794c23bacb253ed8c04cd/prometheus/histogram.go#L68

I can contribute a PR as it seems not too hard if you agree.

[2022-05-13 01:43] luoxiaoyun-hw commented on #61
we can refer to the client_golang and client_java to provide default buckets.

[2022-05-13 02:59] luoxiaoyun-hw opened #62 "Add the implementation of exposing promethues metrics via HTTP"
the rust client library doesn't provide the implementation of exposing promethues metrics.

[2022-05-13 03:22] doehyunbaek commented on #62
Maybe the intent is to use separate http framework to serve metrics data? There is an example using tide(https://github.com/search?q=tide&ref=opensearch) at the examples directory(https://github.com/prometheus/client_rust/blob/master/examples/tide.rs).

[2022-05-13 09:37] #62 closed

[2022-05-14 15:56] mxinden commented on #62
There is not one canonical way to do http in Rust. Thus, I would rather showcase many different use-cases in `/examples` rather than offering a single within the library.

[2022-05-14 16:02] mxinden commented on #61
I would rather call this out in the documentation on `Histogram`, providing an example with the above mentioned default values. I am not in favor of adding a `Default` implementation that only works for some use-cases, here network latency measurements. I find this confusing for newcomers. Experts will be familiar enough to read the example and thus configure it themselves.

Improvements to the do

[2022-05-23 14:41] mxinden opened #64 "Cargo.toml: Update to Rust edition 2021"
As discussed in https://github.com/prometheus/client_rust/pull/63, we should upgrade to Rust edition 2021.

Tracking this here for the sake of completeness.

//CC @doehyunbaek

[2022-05-23 14:42] mxinden commented on #61
With https://github.com/prometheus/client_rust/pull/63 merged, I am closing here. Feel free to follow up with further comments.

[2022-05-23 14:42] #61 closed

[2022-06-03 15:16] mxinden commented on #51
Note that you need to set the right content type in order for Prometheus parse the output of a scrape in the Open Metrics format.

https://github.com/prometheus/client_rust/blob/69e6674064c08630b7b397a58d6e99279d8d98ce/examples/tide.rs#L37

[2022-06-10 11:23] palash25 commented on #40
@mxinden hi i would like to work on this could you assign the issue to me?

[2022-06-10 17:02] mxinden commented on #40
Done. Thanks @palash25. Let me know in case you need any help.

[2022-06-20 17:40] palash25 commented on #40
hi @mxinden do you have any preference on what crate to use for the underlying quantile algorithm? I found one that implements CKMS would it be ok to use this?  https://github.com/blt/quantiles

[2022-06-22 03:29] mxinden commented on #40
@palash25 unfortunately I don't have any experience with quantile algorithms, neither in general nor in Rust. Thus no preference. Sorry.

Looks fine to me.

[2022-06-28 06:08] dovreshef commented on #29
Hi, all

I've tried to take a stab at implementing this, since we need this as well. I looked at the [current implementation](https://github.com/tikv/rust-prometheus/blob/master/src/process_collector.rs) for the other prometheus crate.

As part of the implementation it reads data from procfs to figure out stats on the process. In the current implementation, it is implemented as a custom collector,

[2022-07-01 10:01] erenon opened #68 "Remove impl Add<&Prefix> for String"
Because of https://github.com/rust-lang/rust/issues/77143, the `impl Add<&Prefix> for String` can prevent the compilation of unrelated, previously working programs, if they use string concat. This prevents adding this library to such a project, or prevents adding other deps to a project that already uses prometheus. The resulting error message is also cryptict.

Please consider removing the trait

[2022-07-01 12:58] mxinden commented on #29
@dovreshef would you be retrieving the information from the system in time or on an interval. I think the former is the Prometheus way.

Would the custom metric example not be the interface you need? I.e. be called on scrape to retrieve and generate the metrics?

https://github.com/prometheus/client_rust/blob/master/examples/custom-metric.rs

[2022-07-01 20:34] dovreshef commented on #29
Sorry, I'm not sure I understand the question. I'll be retrieving the info in the `EncodeMetric` trait `encode` function, as demoed in the example.

There are multiple metrics that the process collector gathers, and the process to gather each one is similar. We read the /proc file system for the calling process, and extract the data from several files there.
The issue is that they all share a few

[2022-07-02 02:09] mxinden commented on #29
Ah, sorry, I forgot having this discussion in the past.

As suggested on https://github.com/prometheus/client_rust/issues/49#issuecomment-1056769576, what do you think of the option to be able to register a `Collector` on a `Registry`. A `Collector` would be able to return a set of metrics where each metric can have a different metric type.

For the process collector, you would implement the `Coll

[2022-07-02 10:46] dovreshef commented on #29
Sure.

So the design is:

* Have a new Collector that something like:

[code]

* Registry implement `Collector`. Which returns `RegistryIterator`.
* `text::encode` calls the collect method on the registry to retrieve the iterator.

Now I can see two ways to continue from here:

Either:

* Registry no longer holds `sub_registries: Vec<Registry<M>>` but instead holds `Vec<Box<dyn Collector>>` .
* Re

[2022-07-03 05:03] mxinden commented on #29
:+1:

Small nit, maybe `type Collection;` would be more intuitive.

:+1:

Instead of taking a `Registry`, `text::encode` could now even take some `C: Collector`.

That would be very clean in my opinion. My gut feeling tells me we will be running in some trait object issues. That said, I think we should give it a try.

Thanks @dovreshef for looking into this!

[2022-07-04 03:53] mxinden commented on #68
I am fine removing it, especially since `Prefix` is private. Want to propose a patch @erenon?

[2022-07-11 01:41] #68 closed

[2022-07-18 11:29] #64 closed

[2022-07-19 10:14] vladvasiliu opened #73 "Combining registries?"
Is there an elegant way of combining multiple registries in a single encode output?

An example of a use case would be writing an exporter for metrics from an external system, as opposed to the own application's metrics.

The idea is that new metric families would be created and populated on each scrape. But there could also be exporter-related metrics that would be constant between scrapes, such

[2022-07-22 02:46] mxinden commented on #73
Would the `Collector` pattern be helpful here?

Proposed in https://github.com/prometheus/client_rust/issues/49

Further designed in https://github.com/prometheus/client_rust/issues/29#issuecomment-1172877769

[2022-07-22 02:47] mxinden commented on #29
@dovreshef are you still interested in contributing the `Collector` pattern? :)

[2022-07-22 06:31] vladvasiliu commented on #73
Yeah, I think that could be helpful.

I'd initially glossed over these, seeing how at first they were about "custom encoders", but upon closer reading that's pretty much what I'm after.

[2022-07-22 06:31] #73 closed

[2022-07-22 10:14] mxinden commented on #73
Great. Note @vladvasiliu that help here is very much appreciated.

[2022-07-22 13:02] vladvasiliu commented on #73
Sure, I'll see if I can come up with something over the weekend.

[2022-07-27 09:30] Victor-N-Suadicani opened #75 "Using `()` as label set generates invalid format"
I tried using `()` as the label set for a family, like `Family<(), Histogram, ...>`. Unfortunately this resulted in the following line in my metrics output:
[code]
This results in a `expected label name, got "COMMA"` error when Prometheus tries to collect the metrics.

I would expect this to "just work" and just not insert any label (i.e. basically not have the leading comma in `{,le="1.0"}`)

[2022-07-27 09:49] mxinden commented on #75
What is your reasoning for not using a plain `Histogram`?

[2022-07-27 10:01] Victor-N-Suadicani commented on #75
I've built a small wrapping library around `client_rust` for internal use at my job, to streamline and standardize our usage. Basically I'm not using a plain Histogram as this is using some generic code which allows you to use any label type you want. I figured that in the case you didn't want any labels, you could just use `()` - but that turned out not to work :sweat_smile:

[2022-07-27 10:35] mxinden commented on #75
One solution could be to only add a `,` here in case the previous label has a length larger than `0`.

https://github.com/prometheus/client_rust/blob/6b7a3458b47a406d15f2ae0a678c611969c4645d/src/encoding/text.rs#L277-L285

[2022-07-27 10:43] Victor-N-Suadicani commented on #75
Tangentially related, but I noticed that `&str` also implements encode - does that assume that you _must_ have the `&str` be equal to `"label_name=\"label_value\"`? I'm assuming that if you just set it equal to `"foobar"` then prometheus will complain that the label has no value (must labels have values?).

[2022-07-29 06:31] mxinden commented on #75
That assumption is correct.

That would as well be a viable solution.

[2022-07-29 07:49] Victor-N-Suadicani commented on #75
I honestly find it a bit surprising that `&str` implements `Encode` in that case. I guess it's the same with `f32` and the other primitives that implement `Encode`. `encode` should at least return `Err` when it doesn't match the expected format, I would say.

[2022-07-29 07:58] mxinden commented on #75
I agree. Today I am using `Encode` to encode the following:

- Label pair
- Label key
- Label value
- Metric value

Each of these use-cases should probably use their own `EncodeXXX` trait instead of a single shared one.

[2022-08-01 07:09] #53 closed

[2022-08-02 20:31] DieracDelta opened #77 "Replace owning_ref"
Owning ref is (1) seemingly unmaintained since last commit was 2 years ago and (2) [unsound](https://github.com/noamtashma/owning-ref-unsoundness). Something else should probably be used.

[2022-08-03 19:27] AbhijithGanesh commented on #77
True, this issue has popped up here in [LibP2P](https://github.com/libp2p/rust-libp2p/issues/2794) and other crates which uses this prometheus client

[2022-08-03 19:37] AbhijithGanesh commented on #77
Can I work on patching the issue ? @mxinden

[2022-08-03 19:44] AbhijithGanesh commented on #77
The `Owning_Ref` library is used at the following files:
 - [exemplar.rs](https://github.com/prometheus/client_rust/blob/master/src/metrics/exemplar.rs)
 - [family.rs](https://github.com/prometheus/client_rust/blob/master/src/metrics/family.rs)
 - [histogram.rs](https://github.com/prometheus/client_rust/blob/master/src/metrics/histogram.rs)

Histogram relevant files use this module, they cannot be

[2022-08-03 21:59] DieracDelta commented on #77
In other issues I see [this](https://docs.rs/reffers/latest/reffers/) being recommended. Haven't had a chance to look too deeply, but perhaps that is a suitable replacement?

[2022-08-04 01:17] mxinden commented on #77
Yes, for sure. Help is very much appreciated.

Can you tell whether it suffers the same unsoundness issues that `owning_ref` does?

---

We need `owning_ref` in _wrapper style_ metrics (e.g. `Family`), which internally use a `Mutex` though want to give users access to a reference of the underlying _wrapped_ metric (e.g. `Counter`). Given that this reference depends on the `MutexGuard`, we need to

[2022-08-04 06:25] AbhijithGanesh commented on #77
`Mutex` and `MutexGuard`are now being shipped by the standard crate in Rust, `std/sync` offers this as a solution. I would like to know if [std/sync](https://doc.rust-lang.org/std/sync/struct.MutexGuard.html) would be a good crate to replace!

[2022-08-04 10:02] AbhijithGanesh commented on #77
@mxinden I went through the solution parking_lot offers. I am unable to figure out how to deal with the `MutexGuardedBuckets` and that is preventing me from fixing the solution. What should I do next/

[2022-08-08 19:33] AbhijithGanesh commented on #52
Heyy @mxinden , I would like to work on this!

[2022-08-10 02:22] mxinden commented on #52
Great. Let me know in case you need any help @AbhijithGanesh.

[2022-08-10 02:22] AbhijithGanesh commented on #52
Definitely Max

[2022-08-10 17:17] AbhijithGanesh commented on #52
Can you explain about the expensive part of validating ? Does this mean this is taking more time/process ?

[2022-08-13 02:15] mxinden commented on #52
Yes, correct, expensive in terms of hardware resources.

[2022-08-15 17:41] AbhijithGanesh commented on #52
so here, I am trying to ensure the `Registry::register` doesn't allow duplication and optimize this for testing situations

[2022-08-16 03:18] #77 closed

[2022-08-16 03:48] mxinden commented on #77
For the record, fix is released with `v0.18.0`.

https://github.com/prometheus/client_rust/pull/80

[2022-08-19 22:00] huntc commented on #25
From my reading of the client library doco, there appears to be a requirement for a global registry (default collector registry): https://prometheus.io/docs/instrumenting/writing_clientlibs/#metrics

I would suppose that having a global registry is no different to having a global memory  allocator.

Taking this further, having static/compile time registration could also make sense. The client libr

[2022-08-29 04:52] mxinden commented on #49
Cross referencing proposal here https://github.com/prometheus/client_rust/pull/82

[2022-08-29 04:53] mxinden commented on #36
Cross referencing proposal here: https://github.com/prometheus/client_rust/pull/82

[2022-08-29 04:53] mxinden commented on #29
Cross referencing proposal for `Collector` here: https://github.com/prometheus/client_rust/pull/82

[2022-08-29 05:13] dovreshef commented on #29
Sorry I missed that message (and disappeared) but I planned to do this for work, and got pulled to other issues.

[2022-08-31 14:08] phyber commented on #36
Thanks, that proposal is looking good. I may also have a PR shortly for the `HashMap::remove` stuff to allow us to remove labels sets from a metric family.

[2022-09-02 04:26] kwiesmueller opened #86 "exporting metrics lists without registering them"
Currently the encoder only supports a single metric. There is no concept like metrics lists.
It's not uncommon that collectors get raw data from their source and generate a list of metrics from that.
Right now it seems like we have to register every metric, but it would be great if we had a way to generate metrics on the fly on every scrape and pass them to the encoder.

Or am I just missing the r

[2022-09-02 06:08] mxinden commented on #86
If I understand you correctly https://github.com/prometheus/client_rust/pull/82 would be add what you are looking for.

[2022-09-11 07:24] #46 closed

[2022-09-19 15:29] adamchalmers commented on #25
I actually think this is a non-issue. You don't need a global registry, you need global _metrics_. Your individual metrics can be global, and accessible by both your registry and your normal code. The registry can read them and serve them without being global!

See my example [here](https://github.com/prometheus/client_rust/pull/94/files#diff-7430344b39ea433c99f1cf84a5cc3118954fae4afaeb09282e69f34

[2022-09-19 18:16] adamchalmers opened #95 "Bug: cannot use Exemplars and Families together"
Hi all, thanks for making this library, I'm really excited to get started with exemplars. But I can't see how to combine exemplars and families.

**Problem**
By my read of the OpenMetrics spec, I should be able to export metrics like this:
[code]
Note that the `latency` metric has labels in both its family (`result`) and its exemplars (`trace_id`)

I am trying to implement that using this library,

[2022-09-20 13:26] nox opened #97 "Consider removing text::Encode in favour of serde::Serialize"
Serde's Serialize trait is implemented for dozens of types in the Rust ecosystem, its derive code is fairly well optimised, and it is the most popular serialization framework we have for Rust.

What do you think of removing the Encode trait in favour of Serialize, to get all the nice things there are in Serde for free?

[2022-09-21 13:50] mxinden commented on #97
I would be in favor of that. I should have thought of it before.

@nox would you like to write a first proposal? Before you go all the way, I would suggest writing a small proof-of-concept first to make sure using serde is a viable path forward.

[2022-09-21 14:58] nox commented on #97
Sure, I'll write a `struct Bridge<T>(T)` that implements `Encode` using `T`'s implementation of `Serialize`, in a separate crate.

[2022-09-23 12:33] nox commented on #97
I pushed https://github.com/nox/serde_prometheus_labels earlier today.

[2022-09-27 16:48] #95 closed

[2022-09-30 14:53] adamchalmers opened #101 "HistogramTimer API"
Hi! My team at work is converting some of our projects over from docs.rs/prometheus to this crate. One nice-to-have feature we miss from the old crate is the [HistogramTimer](https://docs.rs/prometheus/latest/prometheus/struct.HistogramTimer.html) type. I suggest adding it into this crate for two reasons:

1. It's convenient for working with histograms and less error-prone than tracking time manua

[2022-10-04 11:35] mxinden commented on #101
I am in favor of this. Given that `Histogram` is `Clone`, `Send` and `Sync`, I don't think this change will be intrusive.

Great. Thank you. Let me know in case you need any help.

[2022-10-10 16:16] nox commented on #97
I published [serde_prometheus_labels](https://crates.io/crates/serde_prometheus_labels) which provides its own `Family<Labels, Metric>` type using serde as the encoder.

[2022-10-10 16:20] nox commented on #51
We have ~100 unsuffixed metrics at work and we are trying to move away from `prometheus` and to switch to `prometheus-client`, this automatic suffixing is an issue, we don't want to change dozens of dashboards because a library forces counter renames on us. Would you accept a PR adding an `LegacyUnsuffixedCounter<A>` type to this crate?

[2022-10-19 02:00] 08d2 commented on #51
OpenMetrics remains an experiment, not a standard. Prometheus client libraries should default to the core exposition formats, and leave OpenMetrics as an opt-in alternative.

[2022-10-19 11:12] nox commented on #97
Why not? `()` should mean "no labels at all".

[2022-10-19 11:13] nox commented on #97
I agree to this, but I would rather rely on serde and not be blocked on some missing implementation. It made the job for us, that's why I published that stuff as a separate crate.

[2022-10-28 21:29] mhristache opened #106 "how to delete an entry from a metrics Family"
I am looking for an equivalent to [`remove_label_values` ](https://docs.rs/prometheus/0.13.3/prometheus/core/struct.MetricVec.html#method.remove_label_values ) from `prometheus` crate. Is there a way to remove an entry from a metrics Family?

[2022-10-31 14:18] phyber commented on #106
This is available in the upcoming version, but for now it's only available in the `master` branch.

https://github.com/prometheus/client_rust/blob/master/src/metrics/family.rs#L240-L260

[2022-10-31 20:04] #106 closed

[2022-11-07 14:18] metalmatze opened #107 "Create MAINTAINERS.md"
Going through all repositories right now, I saw that this repository has no [MAINTAINERS.md](https://github.com/prometheus/prometheus/blob/main/MAINTAINERS.md).
It would be great to create one for visibility.

[2022-11-11 07:47] unrealhoang opened #108 "Counter API is overly restrictive"
Currently Counter's API is:
https://github.com/prometheus/client_rust/blob/master/src/metrics/counter.rs#L76-L83

[code]
which requires `inc` and `inc_by` to return the previous value. This is rarely needed for metric collecting use-case, and it hinders the ability to use per-thread thread-local accumulator to prevent contention (like [this](https://docs.rs/hytra/latest/hytra/struct.TrAdder.html)

[2022-11-14 10:57] #107 closed

[2022-11-16 07:29] c19 opened #110 "How to add two different metrics to one register?"
[code]

results in:
[code]

[2022-11-16 14:10] phyber commented on #110
You'll want:

[code]

Which should let you do what you're attempting here.

[2022-11-17 16:01] mxinden commented on #110
Thanks @phyber for all the help you are providing to users of the library! Greatly appreciated.

@c19 what @phyber said above. As a heads up, this will soon be a lot simpler, i.e. your use-case will become the default behavior. In case you are interested, see https://github.com/prometheus/client_rust/pull/100.

[2022-11-24 07:21] c19 commented on #110
Thanks. That solves the problem.

[2022-11-24 07:21] #110 closed

[2022-11-29 14:32] rapiz1 commented on #108
I believe a thread local counter will benefit the performance. Considering a counter on each HTTP request, a shared lock is the last thing I want on my critical path.